*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Inter', sans-serif;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    background: radial-gradient(864px 424px at 50% -10%, rgba($primary, 0.25), transparent), $background;
    background-repeat: no-repeat;
    color: $foreground;
    line-height: 1.5;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100dvh;
}

main {
    flex: 1;
    padding: $p-md;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    line-height: 1.1;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

a {
    text-decoration: none;
    color: currentColor;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

.table {
    $table-height: 488px;
    $max-width-table: 964px;

    display: flex;
    flex-direction: column;
    gap: $space-xs;
    max-width: $max-width-table;
    margin: 0 auto;

    &__filter {
        width: max-content;
    }

    &__grid {
        margin: 0 auto;
        height: $table-height;
        width: 100%;
    }

    &__pagination-wrapper {
        display: flex;
        padding: $p-xs $p-md;
        transform: translateY(-6px);
        border-radius: 0 0 $radius $radius;
        border: $border-sm;
        background-color: $background;
    }

    &__pagination {
        margin: 0;
        margin-left: auto;
    }
}
