$background: #06130b;
$foreground: #e4e7e5;
$card: #000000;
$card-foreground: #e4e7e5;
$popover: #06130b;
$popover-foreground: #e4e7e5;
$primary: #16a34a;
$primary-hover: #1ac157;
$primary-foreground: #ffffff;
$secondary: #122117;
$secondary-hover: #1f3827;
$secondary-foreground: #ffffff;
$muted: #21321b;
$muted-foreground: #949e98;
$accent: #21321b;
$accent-foreground: #e4e7e5;
$destructive: #990000;
$destructive-hover: #bd0000;
$destructive-foreground: #e4e7e5;
$border: #203c2a;
$input: #203c2a;
$ring: #16a34a;
$radius-sm: 0.25rem;
$radius: 0.5rem;
$radius-lg: 1rem;
$radius-round: 100%;

$m-xs: 8px;
$m-sm: 16px;
$m-md: 24px;
$m-lg: 32px;
$m-xl: 48px;
$m-2xl: 64px;

$p-xs: 8px;
$p-sm: 16px;
$p-md: 24px;
$p-lg: 32px;
$p-xl: 48px;
$p-2xl: 64px;

$space-xs: 8px;
$space-sm: 16px;
$space-md: 24px;
$space-lg: 32px;
$space-xl: 48px;
$space-2xl: 64px;

$fs-xs: 14px;
$fs-sm: 16px;
$fs-md: 20px;
$fs-lg: 24px;
$fs-xl: 36px;
$fs-2xl: 48px;
$fs-3xl: 64px;

$max-width-container: 1440px;
$max-width-text: 764px;

// nav
$nav-mask-size: 24px;
$nav-overlay-transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
$nav-scroll-mask: linear-gradient(90deg,
                transparent,
                #000 $nav-mask-size,
                #000 calc(100% - $nav-mask-size),
                transparent 100%);

$fade-in-animation: fadeIn 0.8s cubic-bezier(0.25, 0.1, 0.25, 1) backwards;
$fade-in-transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

$border-sm: 1px solid $border;
$border-md: 2px solid $border;
