:root {
  --background: 142.1 50% 5%;
  --foreground: 142.1 5% 90%;
  --card: 142.1 50% 0%;
  --card-foreground: 142.1 5% 90%;
  --popover: 142.1 50% 5%;
  --popover-foreground: 142.1 5% 90%;
  --primary: 142.1 76.2% 36.3%;
  --primary-foreground: 0 0% 100%;
  --secondary: 142.1 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 104.1 30% 15%;
  --muted-foreground: 142.1 5% 60%;
  --accent: 104.1 30% 15%;
  --accent-foreground: 142.1 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 142.1 5% 90%;
  --border: 142.1 30% 18%;
  --input: 142.1 30% 18%;
  --ring: 142.1 76.2% 36.3%;
  --radius: 0.5rem;
}
