:root {
  // theme
  --background: 142.1 50% 5%;
  --foreground: 142.1 5% 90%;
  --card: 142.1 50% 0%;
  --card-foreground: 142.1 5% 90%;
  --popover: 142.1 50% 5%;
  --popover-foreground: 142.1 5% 90%;
  --primary: 142.1 76.2% 36.3%;
  --primary-foreground: 0 0% 100%;
  --secondary: 142.1 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 104.1 30% 15%;
  --muted-foreground: 142.1 5% 60%;
  --accent: 104.1 30% 15%;
  --accent-foreground: 142.1 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 142.1 5% 90%;
  --border: 142.1 30% 18%;
  --input: 142.1 30% 18%;
  --ring: 142.1 76.2% 36.3%;
  --radius: 0.5rem;
  --radius-lg: 1rem;
  --radius-round: 100%;

  --m-xs: 8px;
  --m-sm: 16px;
  --m-md: 24px;
  --m-lg: 32px;
  --m-xl: 48px;
  --m-2xl: 64px;

  --p-xs: 8px;
  --p-sm: 16px;
  --p-md: 24px;
  --p-lg: 32px;
  --p-xl: 48px;
  --p-2xl: 64px;

  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 32px;
  --space-xl: 48px;
  --space-2xl: 64px;

  --fs-xs: 14px;
  --fs-sm: 16px;
  --fs-md: 20px;
  --fs-lg: 24px;
  --fs-xl: 36px;
  --fs-2xl: 48px;
  --fs-3xl: 64px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  background: radial-gradient(864px 424px at 50% -10%, hsl(var(--primary) / 0.25), transparent), hsl(var(--background));
  background-repeat: no-repeat;
  color: hsl(var(--foreground));
  line-height: 1.5;
}

#app {
  height: 100%;
  min-height: 100dvh;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a {
  text-decoration: none;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
